* {
        margin: 0;
	padding: 0;
	box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
}

nav .navbar-expand{
-sm|-md|-lg|-xl
        top: 0;
        }

.right-nav {
        display: flex; 
        float: center;
        padding-right: 30px;
        justify-content: space-evenly;
}


.right-nav a {      
        color: black;
        background: #fff;
        text-decoration: none;
        border-radius: 20px;
        letter-spacing: 1px;
        padding: 5px 15px;
}

nav {
        padding: 0.8rem;
        margin-bottom: 2rem;
        list-style-type: none;
        }

nav .nav, nav .nav-logo {
        margin: 0.5rem;
        display: inline-block;
        }


.background {
        min-height: 30rem;
        /*background-color: gray;*/
        background-image: url(bg.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center top;
        background-attachment: scroll;
        max-width: 100%;
        }

.container {
        margin-inline: auto;
        width: min(90%, 70.5rem);
}
.logo {
        display: flex; 
        float: center;
}

.media-icons {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
}

.media-icons a{
	position: relative;
	color: darkblue;
	margin: 60px;
	font-size: 40px;
}

.media-icons a:hover{
	transform: scale(1.5);
}

