/*RESET*/
* {
  margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  font-family: 'Comfortaa', sans-serif;
  background: #00092A;
  color: #E5CFA8;
}


.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .menu li{
  list-style: none;
  display: inline-block;
  /*float: right;*/
}

.navbar .menu li a{
  color: #9C7C42;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}


.menu li a{
	color: #AE8625;
	text-decoration: none;
}

.menu li a:hover{
	color: #E5CFA8;
	transition: .3s;
}





/*<!-- LANDING PAGE  -->*/

h6 {
	font-family: 'Lobster', cursive;
	font-family: 'Orbitron', sans-serif;
	font-family: 'Tangerine', cursive;
	color: #C5A87C;	
	padding-bottom: 30px;
	font-size: 4em;
	font-weight: 600;
	letter-spacing: 0.1em;
}


h1{
	font-family: 'Lobster', cursive;
	font-family: 'Orbitron', sans-serif;
	font-weight: bold;
	letter-spacing: 10px;
	color: #9C7C42;
}

h4 {
	color: 	#AE8625;
	font-weight: bold;
	text-align: center;
}

.name {
  background-color: #C5A87C;
  background-image: linear-gradient(180deg, #C5A87C, #AE8625);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

/*<!-- FOOTER  -->*/
footer {
	color: 	#AE8625;
}
.media {
  width:auto;
  border:none;
  display:block;
  bottom: 0;
}

.media i:hover{
	color: #E5CFA8;
	transition: .3s;
}






